@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap'); /* Playwrite IS - for UI*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap'); /* Playwrite FR Moderne - x and o */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* reset end */


:root {
    --text-shadow: #c026d3;
    --footer-color: #db2777;
}


body {
    background-color: #020617;
    color: #fff;
    font-family: 'Playwrite IS', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr 0.2fr;
    grid-template-columns: 1fr 2fr 1fr;
}

button:hover {
    cursor: pointer;
}
button[disabled] {
    cursor: default;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: 1/4;
}

header h1 {
    text-shadow: var(--text-shadow) 0 5px 5px;
    font-size: min(5rem, 8vw);
}
aside:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/3;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
aside input {
    font-size: min(2.5rem, 4vw);
    background-color: #ffffff00;
    color: white;
    border: 0;
    text-decoration: underline;
    outline: none;
    
    width: 100%;
    height: 5rem;
    text-align: center;
}
aside:nth-child(2) input {
    padding: 0 0 0 0.5em;
    text-shadow: #d32626 0 5px 5px;
}
aside:nth-child(4) input {
    padding: 0 0.5em 0 0;
    text-shadow: #2718ff 0 5px 5px;
}

section.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

aside p {
    font-size: min(1.5rem, 3vw);
}

main {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    font-family: 'Playwrite FR Moderne', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell {
    border: 3px solid #fff;

    width: 10vw;
    height: 10vw;
    font-size: 10vw;
}
.cell button {
    height: 100%;
    width: 100%;

    background-color: #ffffff00;
    color: #fff;
    border: 0;

    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;

    line-height: 1.4;
}

.top {
    border-top: 0;
}
.left {
    border-left: 0;
}
.right {
    border-right: 0;
}
.bottom {
    border-bottom: 0;
}

.draws {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-size: min(1.5rem, 3vw);;
}

.restart {
    font-size: min(1.5rem, 3vw);
    background-color: #ffffff00;
    color: #22c55e;
    text-decoration: underline;

    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

footer {
    grid-column: 1/4;
    grid-row: 4/5;
    justify-content: flex-end;
    padding-bottom: 1.5vh;
}

footer a {
    color: var(--footer-color);
    text-shadow: var(--footer-color) 0 5px 5px;
}